<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <elmah>
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data" />
  </elmah>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <!--<add key="ServerVD" value="/EclipseServer"/>-->
    <add key="ClientValidationEnabled" value="false" />
    <add key="ChatChannelId" value="716209851" />
    <add key="CompressJS" value="true" />
    <add key="CompressCSS" value="true" />
    <!-- SessionTimeoutDefault is in hours and needs to be a whole number (1,2,3,4...etc)-->
    <add key="SessionTimeoutDefault" value="10" />
    <!-- SessionTimeoutRememberMe is in hours and needs to be a whole number (1,2,3,4...etc)-->
    <add key="SessionTimeoutRememberMe" value="8760" />
    <!--Number of milliseconds to wait before sending typeahead requests-->
    <add key="TypeAheadDelay" value="500" />
    <!-- Where to obtain WalkMe javascript files from, depending on the protocol the site uses -->
    <!-- If neither WalkMeHttp or WalkMeHttps has values then don't display the Step-by-step menu item -->
    <add key="WalkMeHttp" value="http://cdn.walkme.com/users/0d2cd8cfdd494cd18938e97a502f63f8/walkme_0d2cd8cfdd494cd18938e97a502f63f8.js" />
    <add key="WalkMeHttps" value="https://d3b3ehuo35wzeh.cloudfront.net/users/0d2cd8cfdd494cd18938e97a502f63f8/walkme_0d2cd8cfdd494cd18938e97a502f63f8_https.js" />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <urlMappings enabled="true">
      <add url="~/Help/Help/Home" mappedUrl="~/Help/Help/Home-Page" />
    </urlMappings>
    <!--Maximum upload size = 50MB; measured in KB-->
    <httpRuntime maxRequestLength="51200" />
    <httpHandlers>
      <add path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
    </httpModules>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <machineKey validationKey="7BC4BAD6642A8DE4B04F1113D2045F41E69C1A9CD054AC860F194FFA3F7315F7292ABCA87DE2B96930A56F22698596A82FF217791513F1405AE363A44B58007D" decryptionKey="4D64830D3A1950ECCCCC305A7476F7F04564FC53D873D7FE052D7D0B6241496C" validation="SHA1" decryption="AES" compatibilityMode="Framework20SP1" />
    <authentication mode="None">
      <forms loginUrl="~/Account/Login" defaultUrl="~/" timeout="44000" name="docstar_login" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <add name="ElmahHandler" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      <add name="StaticVersion" path="Content/VERSION.txt" modules="StaticFileModule" resourceType="File" requireAccess="Read" verb="GET" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <remove name="WebDAV" />
    </handlers>
    <directoryBrowse enabled="true" />
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="90.00:00:00" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="NetTcpBinding_All">
          <binaryMessageEncoding />
          <tcpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:4515/Import/netTcp" binding="customBinding" bindingConfiguration="NetTcpBinding_All" contract="Astria.Framework.OperationContracts.IImport" name="NetTcpBinding_IImport" />
      <endpoint address="net.tcp://localhost:4510/ResultClient/netTCP" binding="customBinding" bindingConfiguration="NetTcpBinding_All" contract="Astria.Framework.OperationContracts.Services.IResultService" name="NetTcpBinding_IResultService" />
      <endpoint address="net.tcp://localhost:4511/ScheduledTaskClient/netTcp" binding="customBinding" bindingConfiguration="NetTcpBinding_All" contract="Astria.Framework.OperationContracts.Services.IScheduledTaskService" name="NetTcpBinding_IScheduledTaskService" />
      <endpoint address="net.tcp://localhost:4512/ImagingClient/netTcp" binding="customBinding" bindingConfiguration="NetTcpBinding_All" contract="Astria.Framework.OperationContracts.Services.IImagingService" name="NetTcpBinding_IImagingService" />
      <endpoint address="net.tcp://localhost:4513/AccessService/netTcp" binding="customBinding" bindingConfiguration="NetTcpBinding_All" contract="Astria.Framework.OperationContracts.Services.IAccessService" name="NetTcpBinding_IAccessService" />
    </client>
  </system.serviceModel>
</configuration>