@using Astria.Framework.Utility;
<div class="accordion_title  accordion_title_{{=it.approvalReqsClosed}}">
    <div class="accordion_title_contents">
        <div class="title_arrow">
        </div>
        <span class="anchor">@Constants.i18n("approvalRequests")</span> <span class="swoosh"></span>
    </div>
</div>
<div class="accordionContainer">
    <div class="accordion {{=it.approvalReqsClosed}}">
        <div class="SearchResultsGridViewContainer">
        </div>
    </div>
</div>

