{{
var i = 0;
var length = it.cells.length;
for (i; i < length; i++) {
    var cell = it.cells[i];
}}
<td class="customGridDataCell">
    {{if (cell.html) { }}
    {{=cell.html}}
    {{ } else { }}
    <div class="valueContainer">
        {{=cell.value || '&nbsp;'}}
    </div>
    {{ } }}
</td>
{{ } }}