@using Astria.Framework.Utility;
<div class="fleft">
    <div class="inputJQGrid">
        <span class="metalabel alignTop">@Constants.i18n("fields"):</span>
        <table id="ctFields"></table>
    </div>
</div>