@using Astria.Framework.Utility;
<div id="customfieldsmanager_layout">
    <h2>@Constants.i18n("editFields")</h2>
    <div id="customfields_layout">
    </div>           
    <div id="customfieldsgroup_layout"></div>
</div>
