@using Astria.Framework.Utility;
<div id="{{='ciId_' + it.ContentItemId}}">
    <img id="{{= 'thumb_' + it.TruePageNumber}}" class="{{=it.throbber}}" alt="{{=Constants.c.page + it.TruePageNumber}}" src="{{=it.thumbnailSource}}"  />
</div>