<li class="{{=it.approvalClass}}" title="{{=Utility.safeHtmlString(it.reason)}}">
    <div class="item_type_icon {{=it.iconClass}}"></div>
    <div class="name">{{=Utility.safeHtmlString(it.name)}}:</div>
    <div class="fleft">
        <div class="reason">{{=Utility.safeHtmlString(it.reason)}}</div>
        <div class="createdOn">({{=Utility.safeHtmlString(it.createdOn)}})</div>
    </div>
</li>