@using Astria.Framework.Utility;
<div class="DocumentVersioningGridViewContainer fullWidth inlineblock">

</div>
<div class="fullWidth inlineblock versioningButtons">
    <span class="cancelVersioning custom_button short_btn shadow {{=it.cancelClass}}" {{=it.cancelTitle}}>
        @Constants.i18n("cancel")
    </span>
    <span class="checkOut custom_button short_btn shadow {{=it.checkOutClass}}" {{=it.checkOutTitle}}>
        @Constants.i18n("checkOut")
    </span>
    <span class="checkIn custom_button short_btn shadow {{=it.checkInClass}}" {{=it.checkInTitle}}>
        @Constants.i18n("checkIn")
    </span>
    <span class="promote custom_button short_btn shadow {{=it.promoteClass}}" {{=it.promoteTitle}}>
        @Constants.i18n("promote")
    </span>
</div>
<div class="DocumentVersioningCommentViewContainer fullWidth inlineblock">

</div>