@using Astria.Framework.Utility;
<div class="appButtonContainer">
    <span class="deny shadow short_btn custom_button no_text_select {{=it.deniedClass}}">{{=it.denyText}}</span>
</div>
<div class="appButtonContainer">
    <span class="approve shadow short_btn custom_button no_text_select {{=it.approveClass}}">{{=it.approveText}}</span>
</div>