@using Astria.Framework.Utility;
@*{{ if(it.hasFormDesignerGWP) { }}
<div class="inlineblock fullWidth spacingTopLeft">
    <span class="createFormTemplate custom_button short_btn">@Constants.i18n("newForm")</span>
</div>
{{ } }}*@
<ul @*class="{{=it.hasFormDesignerGWP ? 'newFormSpacing' : ''}}"*@>
    @* Render Template Library Here *@
</ul>