@using Astria.Framework.Utility;
<div class="navigationLayout light_shadow_right displayTableCell">
    <div class="showHideArrow posAbs">
        <span class="collapse_arrow"></span>
    </div>
    @* Render Category/Template Navigation Here *@
</div>
<div class="mainLayout displayTableCell">
    @* Render Template Library or Forms Designer Here *@
</div>