<pre style="font-family: Verdana, Tahoma; font-size: 12px;">{ideaRequestMessage}

</pre>
<table border="1" style="font-family: Verdana, Tahoma; font-size: 12px;">
    <tr>
        <td valign="top">{contextURLText}:</td>
        <td>{uri}</td>
    </tr>
    <tr>
        <td>{userText}:</td>
        <td>{user}</td>
    </tr>
    <tr>
        <td valign="top">{companyText}:</td>
        <td>{company}</td>
    </tr>
    <tr>
        <td valign="top">{messageText}:</td>
        <td>{message}</td>
    </tr>
</table>
