@using Astria.Framework.Utility
<td class="customGridDataCell" data-cellid="MachineName">
    <div class="valueContainer">
        {{=it.machineName || '&nbsp;'}}
    </div>
</td>
<td class="customGridDataCell" data-cellid="Username">
    <div class="valueContainer">
        {{=it.username || '&nbsp;'}}
    </div>
</td>
<td class="customGridDataCell" data-cellid="Status">
    <div class="valueContainer">
        {{=it.status || '&nbsp;'}}
    </div>
</td>
<td class="customGridDataCell" data-cellid="PercentDone">
    <div class="valueContainer">
        {{=it.percentDone || '&nbsp;'}}
    </div>
</td>
<td class="customGridDataCell" data-cellid="StartedOn">
    <div class="valueContainer">
        {{=it.startedOn || '&nbsp;'}}
    </div>
</td>
<td class="customGridDataCell" data-cellid="EndedOn">
    <div class="valueContainer">
        {{=it.endedOn || '&nbsp;'}}
    </div>
</td>
<td class="customGridDataCell" data-cellid="Failures">
    <div class="valueContainer">
        {{=it.failures || '&nbsp;'}}
    </div>
</td>
<td class="customGridDataCell dialogResults" data-cellid="Results">
    <div class="valueContainer">
        {{=it.results || '&nbsp;'}}
    </div>
</td>
<td class="customGridDataCell dialogException" data-cellid="Exception">
    <div class="valueContainer">
        {{=it.exception || '&nbsp;'}}
    </div>
</td>