@using Astria.Framework.Utility;
<div class="reportParametersContainer">
</div>
{{ if(it.displaySubmit) { }}
    <span id="submitCtl" class="custom_button short_btn">@Constants.i18n("submit")</span>
    <div id="submitCtlThrobber" class="throbber" style="display:none;"></div>
{{ } }}