<div class="modalThrobberCont">
    <img src="@System.Web.Mvc.UrlHelper.GenerateContentUrl("~/Content/images/large_throbber.gif", new HttpContextWrapper(HttpContext.Current))" alt="Waiting" />
</div>
<iframe width="100%" height="100%" frameborder="0" src="{{= it.source}}"></iframe>
