@using Astria.Framework.Utility;
        <table cellspacing="0" cellpadding="0" style="display: inline-block; width: 6px;" toolbarspacer="true">
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div id="customPrintReport" class="customReportButton requiresClientConnection" title="@Constants.i18n("print")">
            <span class="sPngIB print_Icon"></span>
        </div>
        <table cellspacing="0" cellpadding="0" style="display: inline-block; width: 6px;" toolbarspacer="true">
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div id="customEmailReport" class="customReportButton requiresClientConnection" title="@Constants.i18n("email")">
            <span class="sPngIB email_Icon"></span>
        </div>
