<div class="resize-document SearchViewLeft">
    <div class="SearchCriteriaContainer">
    </div>
    <div class="SearchResultContainer">
    </div>
</div>
<div class="document_preview light_shadow_left SearchViewRight">
    <div class="DocumentPreviewContainer">
    </div>
</div>
