@using Astria.Framework.Utility;
<td colspan="{{=it.numColsToIndent}}" style="height: 0px;"></td> @* Span 3 columns - select, subgrid, and edit *@
<td class="SubgridViewContainer" colspan="{{=it.numColsToSpan}}">@* Have subgrid span the rest of the columns not indented *@
    @* Insert Sub Grid's View's Here *@
    <span class="throbber"></span>
</td>
