@using Astria.Framework.Utility;
<div class="fleft clearfix">
    <input type="checkbox"><span class="spacingLeftRight">@Constants.i18n("promotePrior")</span>
</div>
<div class="fleft priorVersionIdDiv clearfix">
    <span class="spacingLeftRight">@Constants.i18n("selectVersionToMakeDraft")</span>
    <select name="priorVersionId"></select>
</div>