@using Astria.Framework.Utility;
<div class="wfExceptionLayout">
    <div class="wfLeftJustify"><h4>{{= Constants.c.workflowInException }}</h4></div>
    <pre class="wfLeftJustify wfException">{{= it.exception }}</pre>
    <input type="hidden" name="wfUIErrors" />
</div>
