@using Astria.Framework.Utility;
@* Take up space of the number of columns before actual column data *@
<td colspan="1"></td>
<td colspan="2">
    @* Number of columns in parent grid - number of columns specified above. In this case 1, the subgrid expander column) *@
    <table class="customGridTable">
        <thead>
            @*Headers*@
            <tr>
                @* Add dynamic grid headers here *@
                {{
                var i = 0;
                var length = it.headers.length;
                for (i; i < length; i++) {
                    if (it.headers[i] === undefined) { continue; }
                }}
                <th class="customGridHeader" style="{{=it.headers[i].style}}">
                    <div>
                        {{=it.headers[i].value}}
                    </div>
                </th>
                {{ } }}
            </tr>
        </thead>
        <tbody>
            @* Render WorkflowItemPerStepSubgridItemView's Here *@
        </tbody>
        @* No Footer *@
    </table>
</td>