@using Astria.Framework.Utility;
<table border="1">
    <tr>
        <td valign="top">@Constants.i18n("contextURL"):</td>
        <td>{uri}</td>
    </tr>
    <tr>
        <td>@Constants.i18n("user"):</td>
        <td>{user}</td>
    </tr>
    <tr>
        <td valign="top">@Constants.i18n("company"):</td>
        <td>{company}</td>
    </tr>
    <tr>
        <td valign="top">@Constants.i18n("message"):</td>
        <td>{message}</td>
    </tr>
</table>
