@using Astria.Framework.Utility;
<table class="customGridTable">
    <thead>
        @*Headers*@
        <tr>
            <th class="customGridHeader subgridExpandHeader">
                &nbsp;
            </th>
            <th class="customGridHeader" data-columnid="WorkflowName" style="{{=it.headers[0].style}}">
                @Constants.i18n("workflowName")
            </th>
            <th class="customGridHeader" data-columnid="WorkflowCount" style="{{=it.headers[1].style}}" ">
                @Constants.i18n("items")
            </th>
        </tr>
    </thead>
    <tbody>
        @* Render WorkflowItemPerStepView's Here *@
    </tbody>
    <tfoot>
        @*Footers*@
        <tr class="customGridPager">
            @* Refresh Control *@
            <td colspan="3">
                <div class="fleft customGridPagerButton">
                    <span class="refreshGrid ui-icon ui-icon-refresh"></span>
                </div>
            </td>
        </tr>
    </tfoot>
</table>
