@using Astria.Framework.Utility;
<div class="accordion_title accordion_title_{{=it.dashboardClosed}}">
    <div class="accordion_title_contents">
        <div class="title_arrow">
        </div>
        <span class="anchor">@Constants.i18n("dashboard")</span> <span class="swoosh"></span>
    </div>
</div>
<div class="accordionContainer">
    <div class="accordion {{=it.dashboardClosed}}">
        @* Render DashboardResultsView Here *@
    </div>
</div>