.AppDisplayView {
    width: 100%;
    height: 100%;
    position: relative;
}

    .AppDisplayView .item_type_icon {
        margin: 2px 5px 0 5px;
    }

    .AppDisplayView .approvalTypeIcon span {
        display: inline-block;
        position: relative;
    }

        .AppDisplayView .approvalTypeIcon span.approvalData {
            top: -5px;
        }
