.PublicImageView span.label {
    width: 125px;
    padding: 0 5px 0 0;
    text-align: right;
    float: left;
}

.PublicImageView .ui-combobox {
    float: left;
}

    .PublicImageView .ui-combobox .isCombo {
        width: 200px;
    }

.PublicImageView .ui-icon.ui-icon-close {
    float: left;
    cursor: pointer;
}

.PublicImageView .uploadIframe {
    margin-right: 24px;
    margin-top: 5px;
}

.PublicImageView .fileType {
    margin-right: 24px;
}

.PublicImageView .warningErrorClass {
    position: relative;
    left: 130px;
    width: 200px;
}
