html, body
{
    font: 12px Tahoma,Verdana;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

@media print
{
    .pageContainer
    {
        position: relative;
        page-break-after: always;
        page-break-inside: avoid;
    }
}

.page
{
    position: relative;
    max-width: 100%;
    display: block;
}

.ImagesDiv
{
    width: 100%;
    text-align: center;
}

#print-error
{
    display: none;
    background: #999;
}
